.text{
    width:610px;
    margin:70px 0px 0px 110px;
    font-size:14px;
    display: inline-block;
}

.text_title {
    text-align:center;
}

.text_content {
    margin:20px 0px ;
}

#wordClound {
    width:400px;
    height:500px;
    /*background-color:blue;*/
    float:right;
    margin:100px 100px 0px 0px;
}